<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Form -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.css"/>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
        <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
        <!--<script src="js/bootstrap-formhelpers-phone.js"></script>-->
    <script src="js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

        <script type="text/javascript" src="js/validator.js"></script>
        <script src="function/formfunction.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SWALE BODY CHALLENGE</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>



                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <img style="width: 100%;" src="image/img1.jpg">
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev">

            </span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Welcome Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Modern Business
                </h1>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="color: mediumblue;">
                        <h2><i class="fa fa-fw fa-check"></i> Swale Body Challenge Wave 5 registration is now Open.</h2>
                    </div>
                    <div class="panel-body">
                        <h2><p>Welcome to Swale Body Challenge.</p></h2>
                        <h3><p>This is an 8 week Body Transformation Challenge to keep you on track in order to ensure 2016 is the year that you get in the BEST shape of your life, for life and get rewarded for doing so!!
                            The current challenge will focus on getting healthy (in the build up to Christmas, before the advent calendars, work parties and selection boxes appear!) .
                            The challenge will be run from the Swale Wellness Centre, Sheerness and Registration is now OPEN and will close on Thursday 6th October.</p></h3>
                        <p>Please share this page and let friends and family know you have registered for the body challenge.</p>

                        <div class="winners" style="width: 100%;">
                        Winners of this challenge stand a chance of winning £100-£15,000 worth in prizes and the catergories are as follows:
                        <ul>
                            <li>Body fat loss</li>
                            <li>Muscle gain</li>
                            <li>Ambassador category for referrals</li>
                            <li>Fit club fan (Most fit clubs attended)</li>
                            <li>Bonus catergory</li>
                            <li>Visual transformation challenge (Optional)</li>
                        </ul>
                        </div>

                        A £15 registration fee applies to join the challenge which includes:
                        <ul>
                            <li>Full body analysis</li>
                            <li>16 fitness classes</li>
                            <li>Nutritional education and support</li>
                            <li>xercise and meal plans available</li>
                        </ul>

                        <p>Please submit your details below along with the person who invited you and select which registration evening you would like to attend. In this evening you will receive your full body analysis reading, starter pack and an outline of the 8 weeks to follow…. (please wear fitted clothing for a ‘before’ photograph (men may want to go topless, women may want to have their abdomen visible) this ensures the most accurate visual transformation pictures.)</p>


                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Portfolio Heading</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover"  src="image/img1.jpg">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Details Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    LIMITED SPACES AVAILABLE
                </h1>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <p>Any queries, please do not hesitate to email Swalewellness@gmail.com</p>
                        <p>Like us on Facebook here</p>
                        <p>Please read full Terms and Conditions here</p>
                        <p>Please read Social Media Vote option here</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <!-- Registration Section-->
        <div class="row">
            <div class="col-lg-12" >
                <h2 class="page-header"> Register here for the challenge</h2>

                <div class="col-md-8" style="overflow: hidden; ">


                    <!--<form data-toggle="validator" role="form">-->
                        <!--<div class="form-group"> &lt;!&ndash; Name field &ndash;&gt;-->
                            <!--<label class="control-label " for="name">Full Name</label>-->
                            <!--<input class="form-control" id="name" name="name" type="text" aria-describedby="name" placeholder="Enter Full Name"/>-->
                        <!--</div>-->
                        <!--<div class="form-group">&lt;!&ndash; Email field &ndash;&gt;-->
                            <!--<label for="Email1">Email address</label>-->
                            <!--<input type="email" name="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email">-->
                            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="inputTell">Telephone</label>-->
                            <!--<input class="form-control" id="inputTell" name="phone" type="text" placeholder="Enter Phone" data-format="(ddd) ddd-dddd"/>-->

                        <!--</div>-->
                        <!--<div class="form-group">&lt;!&ndash; Text field &ndash;&gt;-->
                            <!--<label for="Invite">Who Invited You?</label>-->
                            <!--<label class="control-label " for="name">Who Invited You?</label>-->
                            <!--<input class="form-control" id="Invite" name="Invite" type="text" aria-describedby="Invite" placeholder="Who Invited You"/>-->
                        <!--</div>-->
                       <!--<br>-->

                        <!--&lt;!&ndash; Begin Your Challenge&ndash;&gt;-->
                        <!--<div class="form-check">-->
                            <!--<label class="control-label " for="name">What Is Your Challenge?*</label>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">Body Fat Loss</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">Muscle Gain</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;End Your Challenge&ndash;&gt;-->

                        <!--&lt;!&ndash; Begin How Did You Hear&ndash;&gt;-->
                        <!--<div class="form-check">-->
                            <!--<label class="control-label " for="name">How Did You Hear About This Challenge?</label>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">Distributor / Member</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">Social Media</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">Flyer</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">Newspaper Advert</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input type="checkbox" value="">Other</label>-->
                            <!--</div>-->
                        <!--</div><br>-->
                        <!--&lt;!&ndash;End How Did You Hear&ndash;&gt;-->

                        <!--&lt;!&ndash; Begin Choose A Registration Evening&ndash;&gt;-->
                        <!--<div class="form-group">-->
                            <!--<label for="exampleSelect1">Please Choose A Registration Evening</label>-->
                            <!--<select class="form-control" id="exampleSelect1">-->
                                <!--<option>Thursday </option>-->
                                <!--<option>Thursday</option>-->
                                <!--<option>Thursday</option>-->
                            <!--</select>-->
                        <!--</div><br>-->
                        <!--&lt;!&ndash;End  Choose A Registration Evening&ndash;&gt;-->

                        <!--&lt;!&ndash; Begin ocial media vote? &ndash;&gt;-->
                        <!--<div class="form-group">-->
                            <!--<label for="exampleSelect1">Would you like to be included in the social media vote? This incudes your picture being taken at registration.</label>-->
                            <!--<select class="form-control" id="exampleSelect2">-->
                                <!--<option>Yes </option>-->
                                <!--<option>No</option>-->

                            <!--</select>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;End ocial media vote? &ndash;&gt;-->

                        <!--&lt;!&ndash;DIv total price &ndash;&gt;-->
                        <!--<div class="form-group">-->
                            <!--<label for="exampleTextarea">Example textarea</label>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;End DIv total price &ndash;&gt;-->


                        <!--&lt;!&ndash;Begin Textarea&ndash;&gt;-->
                        <!--<div class="form-group">-->
                            <!--<label for="exampleTextarea">Example textarea</label>-->
                            <!--<textarea style="text-align: justify" class="form-control" id="exampleTextarea" rows="3"-->
                                      <!--placeholder="Please pay via Paypal (SELECT FRIENDS AND FAMILY OPTION) as no cash will be taken on registratio evening and if you are paying for someone else or if someone is paying for you please state name(s) here so we match up the payment"></textarea>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; End Textarea&ndash;&gt;-->
                        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                    <!--</form>-->
                    <!--End Form-->

                    <!-- -->

                    <form data-toggle="validator" role="form">
                        <div class="form-group">
                            <label for="inputName" class="control-label">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Cina Saffary">
                        </div>
                        <div class="form-group has-feedback">
                            <label for="inputTwitter" class="control-label">Twitter</label>
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" id="inputTwitter" placeholder="1000hz">
                            </div>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors">Hey look, this one has feedback icons!</div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" >
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="control-label">Password</label>
                            <div class="form-inline row">
                                <div class="form-group col-sm-6">
                                    <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
                                    <div class="help-block">Minimum of 6 characters</div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="underwear" required>
                                    Boxers
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="underwear" required>
                                    Briefs
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="terms" data-error="Before you wreck yourself" required>
                                    Check yourself
                                </label>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <!--  -------------------------------------------------------------------->
                </div>
            </div>
            <!--End COL12-->

        </div>
        <!--/.row-->


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
     $(window).on('load', function () {
        $('form input[type="text"].bfh-phone, form input[type="tel"].bfh-phone, span.bfh-phone').each(function () {
            var $phone = $(this)

            $phone.bfhphone($phone.data())
        })
     })

    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });


     /**
      * Created by COSTAS on 10/21/2016.
      */


    </script>

</body>

</html>
